.home{
    font-family: 'Brush Script MT';
    font-size: 4.5em;
}
.first{
    width: 15em;
}
.logo{
    height: 3em;
   

}
.img-1{
    width: 100%;
    height: 35em;
}

.bg{
    background: rgba(0, 0, 0, 0.781);
}
.bg1{
    background: rgba(0, 0, 0, 0.836);
}


.mt-6{
    margin-top: 3em;
}
.ml-6{
    margin-left: 2.5rem;
}
.btn1{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    background: crimson;
}
.btn1:hover{
          background: transparent;    
          color: crimson;
}

.btn2{
    background: crimson;
}
#text{
    margin-left: 22em;
}